<!DOCTYPE html>
<html>
<body>
<p>Dear <%= @icbs_user_name %>, </p>
<p>
  <%= @message %>
  <br>
  Please click the following link: <%= @url %> to check the status.
</p>
<p>Thank you.</p>
</body>
</html>
