<!DOCTYPE html>
<html>
<body>
<p>Dear <%= @icbs_user_name.firstname %>, </p>
<p>
  <%= @message %>
  <br>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks you and have a great day!</p>
</body>
</html>